@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background: none !important;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

blockquote {
  border-left: 2px solid #eee !important;
  padding: 0px 20px !important;
  font-style: italic !important;
  margin: 24px 0 !important;
}

#pubinfo em {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-style: normal !important;
  color: #767676 !important;
  font-size: 12px !important;
}

#site-logo {
  height: 32px !important;
}

#branding,
.homepage #branding {
  width: auto !important;
  padding-bottom: 0 !important;
}

#header {
  display: flex;
}

#site-title {
  display: none;
}

#article {
  padding-top: 0 !important;
}

#article-content h1,
#article-content h2,
#article-content h3,
#style_guide_content h1,
#style_guide_content h2,
#style_guide_content h3,
#style_guide_content_wide h1,
#style_guide_content_wide h2,
#style_guide_content_wide h3,
h4 {
  margin-top: 40px !important;
  margin-bottom: 16px !important;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  letter-spacing: -0.02em;
}

#article-content h1 {
  font-weight: 500 !important;
  margin-top: 0 !important;
  line-height: 112% !important;
}

#article li,
#content li {
  line-height: 25px !important;
}

.is-sticky {
  top: 32px !important;
}

#article-sidebar .navbar .nav > li > a {
  font-size: 13px !important;
  padding: 2px 6px !important;
  padding-left: 0 !important;
  color: #767676 !important;
  text-shadow: none !important;
  transition: color 0.15s ease !important;
  margin-right: 20px !important;
}

#article-sidebar .navbar .nav > li > a:hover {
  background: none !important;
  color: black !important;
}
.navbar .nav > li > a {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #767676 !important;
}

.navbar a i {
  font-size: 12px !important;
  color: #979797 !important;
}

#navigation ul {
  padding-left: 16px !important;
}

#container {
  background: none !important;
  box-shadow: none !important;
  max-width: 900px !important;
}

#article-content,
#style_guide_content,
#style_guide_content_wide {
  font-family: 'Newsreader', serif !important;
  font-size: 18px !important;
  line-height: 25px !important;
}

#header-wrapper {
  background-image: none !important;
  padding-bottom: 0 !important;
}

#article,
#article-sidebar .navbar .nav {
  box-shadow: none !important;
  border: none !important;
}

#article-sidebar .navbar i {
  display: none;
}
