body {
  background: none !important;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

blockquote {
  border-left: 2px solid #eee !important;
  padding: 0px 20px !important;
  font-style: italic !important;
  margin: 24px 0 !important;
}

#pubinfo em {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-style: normal !important;
  color: #767676 !important;
  font-size: 13px !important;
}

#site-logo {
  height: 32px !important;
}

#branding,
.homepage #branding {
  width: auto !important;
  padding-bottom: 0 !important;
}

#header {
  display: flex;
}

#site-title {
  display: none;
}

#article {
  padding-top: 0 !important;
  padding-left: 140px !important;
  padding-right: 0 !important;
}

#article-content h1,
#article-content h2,
#article-content h3,
#style_guide_content h1,
#style_guide_content h2,
#style_guide_content h3,
#style_guide_content_wide h1,
#style_guide_content_wide h2,
#style_guide_content_wide h3,
h4 {
  margin-top: 40px !important;
  margin-bottom: 16px !important;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-weight: 500 !important;
  letter-spacing: -0.02em;
}

#article-content h1 {
  font-weight: 500 !important;
  margin-top: 0 !important;
  line-height: 112% !important;
}

#article-content h2 {
  font-size: 1.5em !important;
  line-height: 1.4em;
}

#article-content h3 {
  margin-top: 32px !important;
  font-size: 1.2em !important;
  line-height: 1.2em;
}

#article li,
#content li {
  line-height: 25px !important;
}

.is-sticky {
  top: 32px !important;
}

#article-sidebar .navbar .nav > li > a {
  font-size: 13px !important;
  line-height: 20px !important;
  padding: 2px 6px !important;
  padding-left: 0 !important;
  color: #767676 !important;
  text-shadow: none !important;
  transition: color 0.15s ease !important;
  margin-right: 20px !important;
}

#article-sidebar .navbar .nav > li > a:hover {
  background: none !important;
  color: black !important;
}

.navbar .nav > li > a {
  font-size: 13px !important;
  margin-right: 24px !important;
  font-weight: 500 !important;
  color: #767676 !important;
  text-shadow: none !important;
}

.navbar a i {
  font-size: 13px !important;
  color: #979797 !important;
}

#navigation ul {
  padding-left: 16px !important;
}

#container {
  background: none !important;
  box-shadow: none !important;
}

#article-content,
#style_guide_content,
#style_guide_content_wide {
  font-family: 'Newsreader', serif !important;
  font-size: 18px !important;
  line-height: 25px !important;
}

#header-wrapper {
  background-image: none !important;
  padding-bottom: 0 !important;
}

#article,
#article-sidebar .navbar .nav {
  min-width: 300px;
  box-shadow: none !important;
  border: none !important;
}

#article-sidebar .navbar i {
  display: none;
}

#search input[type='search']:focus,
#search input[type='search']:active {
  box-shadow: none !important;
}

#search input[type='search'] {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 13px !important;
}

#article-copyright,
#site-credits,
#site-credits a,
#mirrors p,
#footer-menu a,
#article-banner-content a {
  font-size: 13px !important;
  line-height: 20px !important;
  text-decoration: none !important;
}

@media (prefers-color-scheme: dark) {
  body,
  #article {
    background: #222 !important;
    color: #f1f1f1 !important;
  }

  #article-sidebar .navbar .nav,
  #article-sidebar .navbar .nav > li > a {
    background: #222 !important;
  }

  #header-wrapper,
  #article-copyright,
  #footer,
  hr {
    border-color: #383838 !important;
  }

  table.all-rules td,
  table.all-rules th {
    border: 1px solid #a3a3a3 !important;
  }

  #article-content h1,
  #article-content h2,
  #article-content h3,
  #style_guide_content h1,
  #style_guide_content h2,
  #style_guide_content h3,
  #style_guide_content_wide h1,
  #style_guide_content_wide h2,
  #style_guide_content_wide h3,
  #article-content h1 a,
  #article-content h2 a,
  #article-content h3 a,
  h4 {
    color: #fff !important;
  }

  img {
    opacity: 0.75;
    transition: opacity 0.5s ease-in-out;
  }

  img:hover {
    opacity: 1;
  }

  #site-logo img {
    opacity: 1;
  }

  .icon-search,
  #article-sidebar .navbar .nav > li > a:hover {
    color: #fff !important;
  }

  #footer,
  #footer i,
  #pubinfo em,
  .navbar .nav > li > a,
  #article-sidebar .navbar .nav > li > a {
    color: #a3a3a3 !important;
  }

  a:link,
  a:visited {
    color: #f79898 !important;
  }

  #search input[type='search'] {
    color: #fff !important;
    background: #383838 !important;
    border-color: #464646 !important;
  }

  .dropdown-menu {
    background: none !important;
  }

  .btn-group,
  #mirrors .btn,
  #mirrors .dropdown-menu a,
  #article-banner-content {
    border-radius: 6px !important;
    border: none !important;
    background: #383838 !important;
    box-shadow: none !important;
  }

  #mirrors .btn,
  #mirrors .dropdown-menu a,
  #article-banner-content a {
    color: #fff !important;
  }

  .caret {
    border-top: 4px solid #fff !important;
  }
}

@media print {
  #site-logo {
    display: none !important;
  }

  #article-nav .nav {
    display: none !important;
  }

  #article {
    padding-top: 0 !important;
    padding-left: 100px !important;
    padding-right: 100px !important;
  }

  sup {
    top: 0 !important;
    font-size: 12px !important;
  }
}
